<div ng-controller="findRestaurant">
	<table st-table="data" class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Serves</th>
						<th>address</th>
						<th>Hours</th>
						<th>Phone Number</th>
						<th>Founded in</th>
						<th>Description</th>
						<th>Owner</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="restaurant in data" ng-model="form">
						<td>{{ restaurant.restaurantId }}</td>
						<td>{{ restaurant.restaurantName }}</td>
						<td>{{ restaurant.type }}</td>
						<td>{{ restaurant.address }}</td>
						<td>{{ restaurant.restaurantHours}}</td>
						<td>{{ restaurant.phoneNumber}}</td>
						<td>{{ restaurant.foundingDate}}</td>
						<td>{{ restaurant.description}}</td>
						<td>{{ restaurant.owner}}</td>
						<td><button type="button" ng-click="loadReviews()" class="btn btn-sm btn-success">Restaurant Reviews </button></td>
					</tr>
				</tbody>
			</table>
</div>
