<div>
<table st-table="data" class="table table-striped">
				<thead>
					<tr>
						<th>Review ID</th>
						<th>Rating</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="review in data" ng-model="form">
						<td>{{ review.id }}</td>
						<td>{{ review.rating }}</td>
						<td>{{ review.description }}</td>
						<td><button type="button" ng-click="destroyRev(review)" class="btn btn-sm btn-danger">
						Delete</button></td>
						<td><button type="button" ng-click="updateRev(review)" class="btn btn-sm btn-info">
						Update</button></td>
					</tr>
				</tbody>
			</table>
</div>
